@charset "utf-8";
/* CSS Document */

.figure {  float: right;  width: 20%;  border: thin silver solid;  margin: 0.5em;  padding: 0.5em;  text-align: center; } .fifure img{  width: 136px;  height: 200px; } .figure p {  text-align: center;  font-style: italic;  font-size: smaller;  text-indent: 0; }